<h1><center>Welcome</center></h1>
<h1>Hello World </h1>

<%= link_to 'Article Listing', datums_path %> |
<%= link_to 'About', about_path %> |
<%= link_to 'Surprise for You', surprise_for_you_path %> 
