<h1 class="text-center mt-4">Listing all articles</h1>

<div class="flickr_pagination">
  <%= will_paginate @datums, :container => false %>
</div>
<%= render 'datum' %>
<div class="flickr_pagination">
  <%= will_paginate @datums, :container => false %>
</div>